{% extends "base.html" %}

{% block content %}
<div class="container-custom">
  <div class="card-custom fade-in-custom" style="max-width: 600px; margin: 0 auto;">
    <img src="{{ object.photo.url }}" alt="{{ object.model }} - {{ object.brand }}" class="card-img-custom">
    
    <div class="card-header-custom">
      <h2 class="card-title-custom text-center-custom">{{ object.brand }} {{ object.model }}</h2>
    </div>
    
    <div class="card-body-custom">
      <div class="row">
        <div class="col-md-6">
          <p class="card-text-custom">
            <span class="text-highlight-custom">Ano de fabricação:</span><br>
            {{ object.factor_year }}
          </p>
        </div>
        <div class="col-md-6">
          <p class="card-text-custom">
            <span class="text-highlight-custom">Ano do modelo:</span><br>
            {{ object.model_year }}
          </p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <p class="card-text-custom">
            <span class="text-highlight-custom">Placa:</span><br>
            {{ object.plate }}
          </p>
        </p>

        {% if object.bio %}
          <p class="card-text-custom">
            <span class="text-highlight-custom">Detalhes: </span><br>
            <strong style="font-size: 1.2em; color: #f4f4f4;"> {{ object.bio }}</strong>
          </p>
        {% endif %}
      </div>
        
      <div class="col-md-6">
        <p class="card-text-custom">
          <span class="text-highlight-custom">Preço:</span><br>
          <strong style="font-size: 1.2em; color: #f4f4f4;">
            {% if object.value %}
              R$ {{ object.value }}
            {% else %}
            Consulte
            {% endif %}
          </strong>
        </p>
      </div>
      
    </div>
    {% if user.is_authenticated %}
      <div class="card-footer-custom text-center-custom">
        <a href="{% url 'moto_update' pk=object.pk %}" class="btn-custom btn-primary-custom">Editar Moto</a>
        <a href="{% url 'motos_list' %}" class="btn-custom btn-secondary-custom">Voltar à Lista</a>
        <a href="{% url 'moto_delete' pk=object.pk %}" class="btn-custom btn-danger-custom">Deletar</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

